In [4]:
import pandas as pd
import sys
sys.path.append("./../utils/")
sys.path.append("./../")

import preproc as pp

df = pd.read_csv("../data/raw/ts_60_sindex_DE_3f.csv")

# Remove unnecessary columns
df = df.drop(columns="cet_cest_timestamp")

# Add time features
df["utc_timestamp"] = pd.to_datetime(df["utc_timestamp"])
df= df.rename(columns={"utc_timestamp": "date"})

df = pp.preproc0_rename(df)
df = pp.preproc1_nans(df)

#df1 = df[["date", "load"]]
#df2 = df[["date", "solar_gen"]]
#df3 = df[["date", "wind_gen"]]

df.to_csv("../data/preproc/" + 'ts_60_sindex_DE_3f.csv', index=False)

df

                           date     load  solar_gen  wind_gen
0     2014-12-31 23:00:00+00:00  41151.0        0.0    8852.0
1     2015-01-01 00:00:00+00:00  41151.0        0.0    8852.0
2     2015-01-01 01:00:00+00:00  40135.0        0.0    9054.0
3     2015-01-01 02:00:00+00:00  39106.0        0.0    9070.0
4     2015-01-01 03:00:00+00:00  38765.0        0.0    9163.0
...                         ...      ...        ...       ...
50396 2020-09-30 19:00:00+00:00  57559.0        0.0   10654.0
50397 2020-09-30 20:00:00+00:00  54108.0        0.0   11836.0
50398 2020-09-30 21:00:00+00:00  49845.0        0.0   12168.0
50399 2020-09-30 22:00:00+00:00  46886.0        0.0   12533.0
50400 2020-09-30 23:00:00+00:00  45461.0        0.0   12798.0

[50401 rows x 4 columns]